html {
    font-family : 'Raleway', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 5px 5px 5px 5px;
}

#recherche fas icon {
    border-radius: 20px;
    color: aqua;
}

.Logo {
    width: 8%; 
    margin: unset;
}

.menu {
    text-align: right;
}

h1 {
    font-size: larger;
    margin: unset;
    margin-top: 10px;
    margin-bottom: 5px;
}

h2 {
    font-size: larger;
    margin-left: 10px;
    font-weight: bold;
}

input {
    font-weight: bold;
    margin: 20px 0px 20px 0px;
}

.menu {
    margin : 10px 0px 70px 70px; 
}

.color {
    color: #0065FC;
    text-decoration: none; 
    margin-left: 50px; 
    font-size: small;
    font-weight: bold;
}

.act {
    color: black;
    text-decoration: none;
    margin-left: 50px;
    font-size: small;
    font-weight: bold;  
}

h3 {
    font-weight: lighter;
    font-size: medium;
    margin: unset;
}

.fa-map-marker-alt {
    color: black;
    border: solid #F2F2F2;
    border-radius:30%;
    padding: 10px 10px 10px 10px;
    background-color: #F2F2F2;
}

.recherche button {
    border-radius: 20px;
    color: white;
    background-color: #0065FC; 
}

#filtre {  
    margin: 20px 5%px 20px 0px;
}

#filtres button {
    border-radius: 100px;
    color: black;
    background-color: white;
    padding: 5px 5px 5px 5px;
    margin: unset;  
}

#filtres {
    margin: 0px 25% 0px 0px;
    display: flex;
    font-weight: bold;
    justify-content: space-between
}

#filtres .fas {
    color: #0065FC;
    width: 10%;
    border: solid #DEEBFF;
    border-radius: 100px;
    margin: unset;
    background-color: #DEEBFF;
    padding: 10px 10px 10px 10px;
}

.fa-info {
    color: #0065FC;
    margin-right: 10px;
    border: solid #F2F2F2;
    border-radius: 100%;
    padding: 5px 5px 5px 5px;
}

h5 {
    margin: 20px 25% 20px 5px;
}

#Liaison {
    display: flex;
}

#Hebergement {
    border-radius: 20px;
    width:60%;
    border: #F2F2F2;
    font-weight: bold;
    background-color: #F2F2F2;
    display: flex;  
    flex-wrap: wrap;
}

#heberg{
    margin: 20px 60% 20px 45px;
    font-size: 18px;
    border: #F2F2F2;
}

h4 {
    margin: 5px 0px 10px 10px;
}

.Auberge {
    border: #F2F2F2;
    border-radius: 20px;
    background: white;
    margin-left: 15px;
    margin-bottom: 50px;
}

.stars {
    margin-right: 20px;
    padding-right: 20px;
}

img {
    border-radius: 20px;
    margin: 5px 5px 5px 5px;
}

#Afficher {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin: 0px 70px 55px 20px;
    text-decoration: unset;
}

#populaires {
    font-weight: bold;
    margin-left: 2%;
    width: 40%;
    border-radius: 20px;
    border: #F2F2F2;
    background-color: #F2F2F2;
    
}

.hotel {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    border: #F2F2F2;
    border-radius: 20px;
    background: white;
}

h2 {
    margin: 10px 0px 0px 10px;
    font-size: small;
    
}

#Activites {
    width: 80%;
    display: flex;
    flex-wrap: wrap;   
}

h6 {
    font-size: 18px;
    font-weight: bold;
}

input {
    border-radius: 10px;
}

.plus {
    font-weight: bold;
}
img {
    width: 200px;
}

footer {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    background-color: #F2F2F2;
}

.pro {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.Nos {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.Assistance {
    font-size: large;
    text-decoration: unset;
    margin-top: 20px;
    font-weight: bold;
}

.ass {
    color: black;
    text-decoration: unset;
    margin: 10px 0px 0px 0px;
    font-size: 18px;
    display: flex;   
}