header {
    display: flex;
    justify-content: space-between;
}

.Logo {
    width: fit-content;
    
}
.menu {
    text-align: right;
}
h2 {
    font-size: larger;
    margin-left: 10px;
    font-weight: bold;
}
input {
    font-weight: bold;
    margin: 20px 0px 20px 0px;
}
.Rechercher {
    color: white;
    background-color: rgb(29, 120, 238);
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 20px;
}

button {
    font-weight: bold;
    border-radius: 22px;
}
#filtre {
   
    margin: 20px 300px 20px 0px;
}
.filtres {
    display: flex;
    font-weight: bold;
    justify-content: space-between;
}

#Hebergement {
    width:900px;
    margin: 20px 700px 0px 0px;
    border: rgb(231, 229, 229, 0.815);
    font-weight: bold;
    background-color: rgba(231, 229, 229, 0.815);
    display: flex;  
    flex-wrap: wrap;
}
h5 {
    margin: 20px 600px 10px 0px;
    font-size: 18px;
    background-color: rgba(231, 229, 229, 0.815);
    border:rgba(231, 229, 229, 0.815);
}
.Auberge {
    border: solid;
}
.HotelduPort {
    border: solid;
}
.Hotellesmouettes {
    border: solid;
}   
.Hoteldelamer {
    border: solid;
}
.Aubergelepanier {
    border: solid;
}
.HotelchezAmina {
    border: solid;
}

#Nuit {
    display: flex;
}

#Afficher {
    font-size: 18px;
    font-weight: bold;
    margin: 30px 0px 50px 30px;
    background-color: rgba(231, 229, 229, 0.815);
    border:rgba(231, 229, 229, 0.815);
    display: flex;
}

#populaires {
    margin:23px 0px 0px 0px ;
    width: 400px;
    border: solid;
    background-color: rgb(231, 229, 229, 0.815);
    display: flex;
    flex-direction: column;
}
.lesplus {
    font-size: 18px;
    font-weight: bold; 
}
.matin {
    border: solid;
}
.Aucoeurdeleau {
    border: solid;
}
.HotelToutbleu {
    border: solid;
}

#Activites {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    
    
}
h6 {
    font-size: 18px;
    font-weight: bold;
}


input {
    border-radius: 10px;
}
.plus {
    font-weight: bold;
}
img {
    margin: 20px 0px 0px 0px;
    width: 200px;
    margin-left: 30px;
    margin-right: 30px;
}
figcaption {
    margin-left: 40px;   
}

footer {
    margin: 20px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    border: rgba(231, 229, 229, 0.815);
    background-color: rgb(231, 229, 229, 0.815);
}

#propos {
    margin: 0px 30px 30px 0px;
    display: flex;
    flex-direction: column;
}
.pro {
    margin: 20px 10px 15px 0px;
    font-size: 18px;
    font-weight: bold;
}
.vente {
    margin: 0px 10px 10px 10px;
    display: flex;
}
.Donnees {
    margin: 0px 10px 10px 0px;
    display: flex;
}

#nosheberg {
    margin: 10px 0px 0px 0px;
    font-size: 18px;
    display: flex;
    flex-direction: column; 
}

.Nos {
    margin: 10px 30px 10px 0px;
    font-size: 18px;
    font-weight: bold;
}
.charte{
    margin: 27px 0px 40px 0px;
}

.hotel {
    font-size: larger;
    margin: 10px 10px 0px 0px;
    display: flex;
}

#assistance {
    margin: 10px 280px 30px 30px;
}
.Assistance {
    margin: 15px 0px 0px 0px;
}
.ass {
    margin: 10px 0px 0px 0px;
    font-size: 18px;
    font-weight: bold;
}
.aide {
    margin: 80px 0px 0px 0px;
}

.contacter {
    margin: 10px 0px 0px 0px;
    display: flex;
}